<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/app.js"></script>
		<title>Burgers App</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>