<h1>Eat-Da Burger</h1>


<ul>
    {{#each burger}}
        {{#if this.devoured}}
        {{else}}
            <li>
                {{this.burger_name}}<button class="change" data-id="{{this.id}}">devour!!</button>
            </li>
        {{/if}}
    {{/each}}
</ul>


<h3>Devoured</h3>
<ul>
    {{#each burger}}
        {{#if this.devoured}}
            <li>
                {{this.burger_name}} 
            </li>
        {{/if}}
    {{/each}}
</ul>

<form id="sub" >
    <input id="burg" type="text" name="name" >
    <button type="submit">Submit</button>
</form>
